/* Award */
.award {
  height: 3000px;
  padding: 15rem 0 10rem 0;
  background-image: url(../img/bg05.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.awardWrap {
  width: 100%;
  background-color: #fff;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 10rem;
}
.award__outLine {
  width: 100%;
  height: 100%;
  border: 3px solid #a5a5a5;
  padding: 8px;
}
.award__InLine {
  width: 100%;
  height: 100%;
  border: 1px solid #a5a5a5;
  padding: 3rem 0;
}
.awardTitle {
  font-family: "Sharp", serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
  letter-spacing: 0.1em;
}
.awardTable {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}
.awardTable th,
.awardTable td {
  font-size: 1.4rem;
  font-weight: 500;
  border: 1px solid #ddd; /* 黒いボーダー */
  padding: 10px;
  text-align: center;
}
.awardTable tr:first-of-type th {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-color: #f0f0f0; /* 背景色もつけて見やすく */
}
