/* メインビジュアル */
.mainVisual {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../img/speech01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mainVisual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mainVisual__title {
  width: 100%;
  font-family: "Sharp", serif;
  font-size: 6rem;
  color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  animation: titleRizing 5s;
}
.mainVisual__title::before {
  display: block;
  content: "2025";
  position: absolute;
  font-family: fantasy;
  font-size: 7rem;
  color: #fff;
  left: 50%;
  bottom: -8rem;
  opacity: 0;
  transform: translateX(-45%);
  letter-spacing: 0.3em;
  animation: titleRizing 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.mainVisual__title::after {
  position: absolute;
  display: block;
  content: "2026/01/31";
  color: #000;
  background-image: radial-gradient(
    circle,
    rgba(255, 242, 58, 1),
    rgba(224, 162, 8, 1) 80%
  );
  width: 15rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.01em;
  top: -2rem;
  right: 32%;
  text-shadow: none;
  transform: rotate(15deg);
  opacity: 0;
  animation: titleRizing 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.title__gold {
  color: #fff;
  text-shadow: 3px 3px 3px #ffd700;
  font-size: 7rem;
  opacity: 0;
  animation: titleRizing 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

/* 投稿・画像一覧・協賛.競技一覧ページメインビジュアル */
.mainVisual.-topics {
  height: 90vh;
  background-image: url(../img/ebr2023-32.jpg);
}
.mainVisual.-gallery {
  height: 90vh;
  background-image: url(../img/ebr2023-28.jpg);
}
.mainVisual.-sponsors {
  height: 90vh;
  background-image: url(../img/ebr2023-25.jpg);
}
.mainVisual.-contest {
  height: 90vh;
  background-image: url(../img/ebr2023-30.jpg);
}
.mainVisual.-award {
  height: 90vh;
  background-image: url(../img/award-img02.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.mainVisual.-gallery::after,
.mainVisual.-sponsors::after,
.mainVisual.-contest::after,
.mainVisual.-topics::after,
.mainVisual.-award::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.mainVisual__title.-gallery,
.mainVisual__title.-sponsors,
.mainVisual__title.-contest,
.mainVisual__title.-topics,
.mainVisual__title.-award {
  font-size: 8rem;
  text-transform: uppercase;
  animation: unset;
  z-index: 1000;
}

.mainVisual__title.-gallery::before {
  display: block;
  content: "画像一覧";
  font-size: 2.4rem;
  bottom: -6rem;
  opacity: 1;
  animation: unset;
}
.mainVisual__title.-sponsors::before {
  display: block;
  content: "協賛一覧";
  font-size: 2.4rem;
  bottom: -6rem;
  opacity: 1;
  animation: unset;
}
.mainVisual__title.-topics::before {
  display: block;
  content: "お知らせ";
  font-size: 2.4rem;
  bottom: -6rem;
  opacity: 1;
  animation: unset;
}
.mainVisual__title.-contest::before {
  display: block;
  content: "競技種目一覧";
  font-size: 2.4rem;
  bottom: -6rem;
  opacity: 1;
  animation: unset;
}
.mainVisual__title.-award::before {
  display: block;
  content: "過去の受賞歴";
  font-size: 2.4rem;
  bottom: -6rem;
  opacity: 1;
  animation: unset;
}
.mainVisual__title.-gallery::after,
.mainVisual__title.-sponsors::after,
.mainVisual__title.-contest::after,
.mainVisual__title.-topics::after,
.mainVisual__title.-award::after {
  display: none;
}

@keyframes titleRizing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .mainVisual__title::after {
    right: 25%;
  }
  .mainVisual__title.-gallery,
  .mainVisual__title.-sponsors,
  .mainVisual__title.-contest,
  .mainVisual__title.-topics {
    font-size: 8rem;
  }
  .mainVisual__title.-gallery::before,
  .mainVisual__title.-sponsors::before,
  .mainVisual__title.-contest::before,
  .mainVisual__title.-topics::before {
    font-size: 2.8rem;
    bottom: -5rem;
  }
  .mainVisual.-gallery,
  .mainVisual.-sponsors,
  .mainVisual.-contest,
  .mainVisual.-topics {
    height: 80vh;
  }
}
@media (max-width: 768px) {
  .mainVisual {
    height: 90vh;
  }
  .mainVisual__title {
    font-size: 5rem;
  }
  .title__gold {
    font-size: 6rem;
  }
  .mainVisual__title::before {
    font-size: 6rem;
  }
  .mainVisual__title::after {
    width: 13rem;
    font-size: 1.6rem;
    right: 17%;
  }
  .mainVisual__title.-gallery,
  .mainVisual__title.-sponsors,
  .mainVisual__title.-contest,
  .mainVisual__title.-topics {
    font-size: 7rem;
  }
  .mainVisual__title.-gallery::before,
  .mainVisual__title.-sponsors::before,
  .mainVisual__title.-contest::before,
  .mainVisual__title.-topics::before {
    font-size: 2.4rem;
    bottom: -4rem;
  }
}
@media (max-width: 480px) {
  .mainVisual {
    height: 90vh;
  }
  .mainVisual__title {
    font-size: 4rem;
  }
  .title__gold {
    font-size: 5rem;
  }
  .mainVisual__title::before {
    font-size: 4.5rem;
    bottom: -6rem;
  }
  .mainVisual__title::after {
    width: 10rem;
    font-size: 1.4rem;
    right: 8%;
    top: -3rem;
  }
  .mainVisual.-gallery,
  .mainVisual.-sponsors,
  .mainVisual.-contest,
  .mainVisual.-topics {
    height: 70vh;
  }
  .mainVisual__title.-gallery,
  .mainVisual__title.-sponsors,
  .mainVisual__title.-contest,
  .mainVisual__title.-topics {
    font-size: 4.5rem;
  }
  .mainVisual__title.-gallery::before,
  .mainVisual__title.-sponsors::before,
  .mainVisual__title.-contest::before,
  .mainVisual__title.-topics::before {
    font-size: 1.8rem;
    bottom: -3rem;
  }
}

/* 応援金 */
.fundingModal__layer {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}
.fundingModal__layer.is-open {
  z-index: 5000;
  opacity: 1;
  visibility: visible;
}

.fundingWrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.funding {
  position: absolute;
  width: 70%;
  height: auto;
  /* min-height: 60vh; */
  max-height: 100vh;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  justify-content: space-between;
  overflow: hidden;
  padding: 8px;
  border: 1px sollid #000;
}
.fundingInner {
  padding: 2rem 3rem;
  height: auto;
  border: 1px solid #551a8b;
}
.fundingTitle__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.fundingTitle {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
  position: relative;
}
.fundingTitle__span {
  font-size: 2.4rem;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
}
.fundingModal__close {
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  border: none;
  color: #551a8b;
  background-color: #fff;
  border: 1px solid #551a8b;
  border-radius: 50%;
  cursor: pointer;
}
.fundingModal__close:hover {
  color: #fff;
  background-color: #551a8b;
}

.fundingText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 2rem;
  flex-grow: 1; /* 残りのスペースを占める */
  overflow-y: auto; /* 縦方向にスクロール */
  text-overflow: ellipsis; /* テキストが長すぎる場合、省略記号を表示 */
}
.fundingText.-second {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
.fundingButton__text {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}
.fundingButton__flex {
  display: flex;
  margin-bottom: 2rem;
}
.fundingButton__flex.-about {
  margin-top: 0;
}
.fundingButton {
  width: 40%;
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Sharp", sans-serif;
  margin: 2rem auto 3rem;
  text-align: center;
  color: #fff;
  background-color: #000;
  padding: 1rem 1rem;
  cursor: pointer;
}
.fundingButton.-guest {
  color: #fff;
  background-color: #551a8b;
  border: 1px solid #fff;
  letter-spacing: 0.1em;
}
.fundingButton.-student {
  color: #551a8b;
  background-color: #fff;
  border: 1px solid #551a8b;
  letter-spacing: 0.1em;
}
.fundingButton.-student:hover {
  color: #fff;
  background-image: unset;
  background-color: #551a8b;
}
.fundingButton.-guest:hover {
  color: #551a8b;
  background-image: unset;
  background-color: #fff;
  border: 1px solid #551a8b;
}
@media (max-width: 1024px) {
  .fundingInner {
    padding: 2rem;
  }
  .fundingTitle {
    font-size: 2rem;
  }
  .fundingModal__close {
    font-size: 2.4rem;
    width: 3rem;
    height: 3rem;
  }
  .fundingTitle__span {
    font-size: 2.4rem;
    width: 3rem;
    height: 3rem;
  }
  .fundingText {
    font-size: 1.4rem;
  }
  .fundingButton__text {
    font-size: 1.4rem;
  }
  .fundingButton__flex {
    margin-bottom: 1rem;
  }
  .fundingButton {
    font-size: 1.4rem;
    margin: 1rem auto 2rem;
  }
  .fundingText.-second {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .funding {
    width: 80%;
  }
  .fundingInner {
    padding: 2rem 1rem;
  }
  .fundingTitle {
    font-size: 1.8rem;
  }
  .fundingModal__close {
    font-size: 2rem;
    width: 2.6rem;
    height: 2.6rem;
  }
  .fundingTitle__span {
    font-size: 2rem;
    width: 2.6rem;
    height: 2.6rem;
  }
  .fundingText {
    font-size: 1.2rem;
  }
  .fundingButton__text {
    font-size: 1.2rem;
  }
  .fundingButton {
    font-size: 1.2rem;
    margin: 1rem auto 1rem;
  }
  .fundingText.-second {
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  .funding {
    width: 90%;
    padding: 5px;
  }
  .fundingInner {
    padding: 1.5rem 1rem 1rem 1rem;
  }
  .fundingTitle {
    font-size: 1.3rem;
  }
  .fundingTitle__wrap {
    margin-bottom: 2rem;
  }
  .fundingModal__close {
    font-size: 1.6rem;
    width: 2.3rem;
    height: 2.3rem;
  }
  .fundingTitle__span {
    font-size: 1.6rem;
    width: 2.3rem;
    height: 2.3rem;
  }
  .fundingButton__text {
    margin-bottom: 1rem;
  }
  .fundingButton__flex {
    flex-direction: column;
  }
  .fundingButton {
    width: 100%;
    max-width: 20rem;
    margin: 1rem auto 0rem;
  }
  .fundingText.-second {
    font-size: 1.2rem;
  }
}
